* {margin: 0; padding: 0;}

a {text-decoration: none;}

.clearfix{overflow: auto;}

.wrapper{
	margin: 0 auto;
	width: 1000px;
}

.top-bar{
	width:1000px;
	background:maroon;
}

.top-bar-links{
	float:left;
}

.top-bar-links ul {
	margin: 15px;
	list-style: none;
}

.top-bar-links ul li{
	padding: 0 10px;
	display: inline-block;
	border-right: 1px solid white;
}

.top-bar-links ul li: last-child {
	border: 0;
}

.top-bar-links ul li a{
	color: white;
}

.site-search{
	padding: 3px 10px;
	margin: 15px;
	float:right;
	background: white;
	border-radius: 10px;
}

.site-search input {
	border: 0;
	float: left;
}

.site-search button {
	width: 18px;
	height: 18px;
	background: url(../img/icons/search.png);
	border: 0 ;
	float: right;
}

header .university h1 {
	float: right;
	margin-top: 80px;
	margin-right: 300px;
	font-size: 50px;
}

header .university p{
	float: right;
	font-size: 30px;
	margin-right: 500px;
}

#slider {
	overflow: hidden;
}

#slider figure img{
	width: 20%;
	float: left;
}


div.introduction{
	margin-top: 10px;
}


div.introduction h1 {
	margin: 10px;
}

div.introduction p {
	margin-left: 20px;

}

div.introduction p:first-letter {
    padding-left: 5%;
}
div.button {
	width: 10px;
	height: 10px;
}

div.row li {
	margin-left: 40px;
	list-style-type:disc;
}